<button class="btn btn-primary" (click) ="onCreatePersona()">Presiona el componente</button>
<div>
  <label>Nombre de personas</label>
  <input type="text" class="form-control" [(ngModel)]="tituloPersona" />
  <p>{{tituloPersona}}</p>
</div>
